.barContainer{
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 30px;
    border-radius: 50%;
    background-color: antiquewhite;
}

.input{
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: 6px 6px 20px brown;
}

.searchButton{
    border: 1px solid darkolivegreen;
    border-radius: 5px;
    color: aliceblue;
    background-color: darkolivegreen;
    box-shadow: 6px 6px 20px brown;
}

.searchButton:hover{
    color: darkolivegreen;
    background-color: aliceblue;
    box-shadow: 6px -6px 20px darkolivegreen;
}